    
<div class="panel panel-info" style="margin-top: 10px;">
    <div class="panel-heading">
        <center>{{achat.objet}} </center>
    </div>
</div>

<div class="panel-body ">
    <ul class="chat">
        <li class=""style="padding-bottom: 50px">

        <center>
            <div class=" btn btn-success btn-lg" onclick="enregistrerFacture();">
                <i class="fa fa-comment fa-save"></i> Enregistrer
            </div>
        </center>



        </li>

        <div class="btn btn-warning" style="margin-left: 50px" onclick="passerSuivant('lienFics');">
            <i class="fa fa-angle-left"></i><strong> Précédant</strong> 
        </div>

</div>


<script type="text/javascript">
    
</script>