
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
        <title>Soft - EBS</title>
    </head>
    <body style="margin: 0px 0px 0px 0px; padding: 0px 0px 0px 0px; font-family: Trebuchet MS, Arial, Verdana, sans-serif;">

        <!-- Start Main Table -->
        <table width="100%" height="100%" cellpadding="0" style="padding: 20px 0px 20px 0px" background="http://webdesignweb.fr/sources/email-html/img/img_home3.jpg" >
            <tr align="center">
                <td>
                    <!-- Start Header -->
                    <table style="width:580px; height:108px;" background="http://webdesignweb.fr/sources/email-html/img/haut.jpg" border="0">
                        <tr>
                            <td valign="top" style="width:456px;">
                                <h1 style="font-size:22px; color:#22baba;margin-left:20px; margin-top:26px;"> Reception de bon de commande</h1>
                            </td>
                            <td valign="top">
                                <p style="color:#aeaeae; font-size:11px; margin-top:34px;">{{null| date('d-m-Y')}}</p>
                            </td>
                        </tr>
                    </table>
                    <!-- fin header -->

                    <!-- start image -->
                    <table cellpadding="0" cellspacing="0" width="580"  style="padding:0px 0px 0px 0px;">
                        <tr>
                            <td>
                                <pre>
                                {{ noteMail}} 
                                Vous venez de recevoir {{listeFacture|length}} Bon(s) de Commande.
                                </pre>
                            </td>
                        </tr>
                    </table>
                    <!-- end image -->

                    <table>
                        <tr>
                            <td>
                                <span style="font-size:20px; color:#000;">Pour Traiter les bons, <a href="10.6.155.224{{ path('bon_soumis_approbation')}}" target="_blank" style="font-size:10px; color:#22baba;">cliquez-ici</a></span>
                            </td>
                        </tr>
                    </table>


                    </body>
                    </html>






