/web/bundles/
/web/Chart/
/web/bower/
/web/css/
/web/js/
/web/images/
/web/uploads/
/web/jquery-ui-1.10.4/
/web/ckeditor/

/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/ini/
/composer.phar
