
<div class="panel-body " onload="function (){
            $('#numBon').val('');
        }">
    <ul class="chat">
        <li class=""style="padding-bottom: 50px">

       {# <center >
            <div style="margin-bottom: 30px">
                Attribuer manuelement le numero: <input type="checkbox" id="default-generation" />
            </div>
        </center>

        <center>
            <div style="margin-bottom: 30px">
                <input type="text" name="numBon" id="numBon" class="form-control upAndDownSpace" placeholder="numero du bon de commande" style="display: none; width: 40%"/>
            </div>
        </center>
       
      #}

        <center>
            <input type="submit" value="Enregistrer le bon" class="  btn btn-success btn-lg" />
        </center>

        </li>

        <div class="btn btn-warning" style="margin-left: 50px" onclick="passerSuivant('lienInfos');">
            <i class="fa fa-angle-left"></i><strong> Précédant</strong> 
        </div>

    </ul>
</div>


<script type="text/javascript">

</script>